<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="invoiceListService" class="com.billing.invoice.service.InvoiceListServiceImpl"></bean>

<bean id="taxInvoiceNumService" class="com.billing.invoice.service.TaxInvoiceNumServiceImpl"></bean>

<bean id="invoicePaymentService" class="com.billing.invoice.service.InvoicePaymentServiceImpl"></bean>
</beans>