<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billing.invoice.dao.InvoiceItemDescMapper">
  <resultMap id="BaseResultMap" type="com.billing.invoice.po.InvoiceItemDesc">
    <result column="INV_DESC_ID" jdbcType="DECIMAL" property="invDescId" />
    <result column="INVOICE_ID" jdbcType="VARCHAR" property="invoiceId" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="ITEM_DESC" jdbcType="VARCHAR" property="itemDesc" />
    <result column="ITEM_CURRENCY" jdbcType="VARCHAR" property="itemCurrency" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="ITEM_AMT" jdbcType="DECIMAL" property="itemAmt" />
    <result column="ITEM_CURRENT_MONTH" jdbcType="VARCHAR" property="itemCurrentMonth" />
    <result column="BILL_PERIOD_FROM" jdbcType="VARCHAR" property="billPeriodFrom" />
    <result column="BILL_PERIOD_TO" jdbcType="VARCHAR" property="billPeriodTo" />
    <result column="INV_VERSION" jdbcType="DECIMAL" property="invVersion" />
    <result column="ACTUAL_END_DT" jdbcType="TIMESTAMP" property="actualEndDt" />
    <result column="ACTUAL_START_DT" jdbcType="TIMESTAMP" property="actualStartDt" />
    <result column="AMT_CS" jdbcType="DECIMAL" property="amtCs" />
    <result column="AMT_USD" jdbcType="DECIMAL" property="amtUsd" />
    <result column="AMT_VDC" jdbcType="DECIMAL" property="amtVdc" />
    <result column="AMT_VERIFY_FLAG" jdbcType="VARCHAR" property="amtVerifyFlag" />
    <result column="PAYMENT_ITEM_CODE" jdbcType="VARCHAR" property="paymentItemCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    INV_DESC_ID, INVOICE_ID, CUSTOMER_ID, ITEM_DESC, ITEM_CURRENCY, PRICE, ITEM_AMT, 
    ITEM_CURRENT_MONTH, BILL_PERIOD_FROM, BILL_PERIOD_TO, INV_VERSION, ACTUAL_END_DT, 
    ACTUAL_START_DT, AMT_CS, AMT_USD, AMT_VDC, AMT_VERIFY_FLAG, PAYMENT_ITEM_CODE
  </sql>
  <select id="selectByExample" parameterType="com.billing.invoice.po.InvoiceItemDescExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INV_ITEM_DESC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.billing.invoice.po.InvoiceItemDescExample">
    delete from INV_ITEM_DESC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.billing.invoice.po.InvoiceItemDesc">
    insert into INV_ITEM_DESC (INV_DESC_ID, INVOICE_ID, CUSTOMER_ID, 
      ITEM_DESC, ITEM_CURRENCY, PRICE, 
      ITEM_AMT, ITEM_CURRENT_MONTH, BILL_PERIOD_FROM, 
      BILL_PERIOD_TO, INV_VERSION, ACTUAL_END_DT, 
      ACTUAL_START_DT, AMT_CS, AMT_USD, 
      AMT_VDC, AMT_VERIFY_FLAG, PAYMENT_ITEM_CODE
      )
    values (#{invDescId,jdbcType=DECIMAL}, #{invoiceId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{itemDesc,jdbcType=VARCHAR}, #{itemCurrency,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{itemAmt,jdbcType=DECIMAL}, #{itemCurrentMonth,jdbcType=VARCHAR}, #{billPeriodFrom,jdbcType=VARCHAR}, 
      #{billPeriodTo,jdbcType=VARCHAR}, #{invVersion,jdbcType=DECIMAL}, #{actualEndDt,jdbcType=TIMESTAMP}, 
      #{actualStartDt,jdbcType=TIMESTAMP}, #{amtCs,jdbcType=DECIMAL}, #{amtUsd,jdbcType=DECIMAL}, 
      #{amtVdc,jdbcType=DECIMAL}, #{amtVerifyFlag,jdbcType=VARCHAR}, #{paymentItemCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.billing.invoice.po.InvoiceItemDesc">
    insert into INV_ITEM_DESC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invDescId != null">
        INV_DESC_ID,
      </if>
      <if test="invoiceId != null">
        INVOICE_ID,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="itemDesc != null">
        ITEM_DESC,
      </if>
      <if test="itemCurrency != null">
        ITEM_CURRENCY,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="itemAmt != null">
        ITEM_AMT,
      </if>
      <if test="itemCurrentMonth != null">
        ITEM_CURRENT_MONTH,
      </if>
      <if test="billPeriodFrom != null">
        BILL_PERIOD_FROM,
      </if>
      <if test="billPeriodTo != null">
        BILL_PERIOD_TO,
      </if>
      <if test="invVersion != null">
        INV_VERSION,
      </if>
      <if test="actualEndDt != null">
        ACTUAL_END_DT,
      </if>
      <if test="actualStartDt != null">
        ACTUAL_START_DT,
      </if>
      <if test="amtCs != null">
        AMT_CS,
      </if>
      <if test="amtUsd != null">
        AMT_USD,
      </if>
      <if test="amtVdc != null">
        AMT_VDC,
      </if>
      <if test="amtVerifyFlag != null">
        AMT_VERIFY_FLAG,
      </if>
      <if test="paymentItemCode != null">
        PAYMENT_ITEM_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invDescId != null">
        #{invDescId,jdbcType=DECIMAL},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemCurrency != null">
        #{itemCurrency,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="itemAmt != null">
        #{itemAmt,jdbcType=DECIMAL},
      </if>
      <if test="itemCurrentMonth != null">
        #{itemCurrentMonth,jdbcType=VARCHAR},
      </if>
      <if test="billPeriodFrom != null">
        #{billPeriodFrom,jdbcType=VARCHAR},
      </if>
      <if test="billPeriodTo != null">
        #{billPeriodTo,jdbcType=VARCHAR},
      </if>
      <if test="invVersion != null">
        #{invVersion,jdbcType=DECIMAL},
      </if>
      <if test="actualEndDt != null">
        #{actualEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDt != null">
        #{actualStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="amtCs != null">
        #{amtCs,jdbcType=DECIMAL},
      </if>
      <if test="amtUsd != null">
        #{amtUsd,jdbcType=DECIMAL},
      </if>
      <if test="amtVdc != null">
        #{amtVdc,jdbcType=DECIMAL},
      </if>
      <if test="amtVerifyFlag != null">
        #{amtVerifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="paymentItemCode != null">
        #{paymentItemCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.billing.invoice.po.InvoiceItemDescExample" resultType="java.lang.Long">
    select count(*) from INV_ITEM_DESC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INV_ITEM_DESC
    <set>
      <if test="record.invDescId != null">
        INV_DESC_ID = #{record.invDescId,jdbcType=DECIMAL},
      </if>
      <if test="record.invoiceId != null">
        INVOICE_ID = #{record.invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null">
        ITEM_DESC = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCurrency != null">
        ITEM_CURRENCY = #{record.itemCurrency,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.itemAmt != null">
        ITEM_AMT = #{record.itemAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.itemCurrentMonth != null">
        ITEM_CURRENT_MONTH = #{record.itemCurrentMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.billPeriodFrom != null">
        BILL_PERIOD_FROM = #{record.billPeriodFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.billPeriodTo != null">
        BILL_PERIOD_TO = #{record.billPeriodTo,jdbcType=VARCHAR},
      </if>
      <if test="record.invVersion != null">
        INV_VERSION = #{record.invVersion,jdbcType=DECIMAL},
      </if>
      <if test="record.actualEndDt != null">
        ACTUAL_END_DT = #{record.actualEndDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actualStartDt != null">
        ACTUAL_START_DT = #{record.actualStartDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.amtCs != null">
        AMT_CS = #{record.amtCs,jdbcType=DECIMAL},
      </if>
      <if test="record.amtUsd != null">
        AMT_USD = #{record.amtUsd,jdbcType=DECIMAL},
      </if>
      <if test="record.amtVdc != null">
        AMT_VDC = #{record.amtVdc,jdbcType=DECIMAL},
      </if>
      <if test="record.amtVerifyFlag != null">
        AMT_VERIFY_FLAG = #{record.amtVerifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentItemCode != null">
        PAYMENT_ITEM_CODE = #{record.paymentItemCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INV_ITEM_DESC
    set INV_DESC_ID = #{record.invDescId,jdbcType=DECIMAL},
      INVOICE_ID = #{record.invoiceId,jdbcType=VARCHAR},
      CUSTOMER_ID = #{record.customerId,jdbcType=VARCHAR},
      ITEM_DESC = #{record.itemDesc,jdbcType=VARCHAR},
      ITEM_CURRENCY = #{record.itemCurrency,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      ITEM_AMT = #{record.itemAmt,jdbcType=DECIMAL},
      ITEM_CURRENT_MONTH = #{record.itemCurrentMonth,jdbcType=VARCHAR},
      BILL_PERIOD_FROM = #{record.billPeriodFrom,jdbcType=VARCHAR},
      BILL_PERIOD_TO = #{record.billPeriodTo,jdbcType=VARCHAR},
      INV_VERSION = #{record.invVersion,jdbcType=DECIMAL},
      ACTUAL_END_DT = #{record.actualEndDt,jdbcType=TIMESTAMP},
      ACTUAL_START_DT = #{record.actualStartDt,jdbcType=TIMESTAMP},
      AMT_CS = #{record.amtCs,jdbcType=DECIMAL},
      AMT_USD = #{record.amtUsd,jdbcType=DECIMAL},
      AMT_VDC = #{record.amtVdc,jdbcType=DECIMAL},
      AMT_VERIFY_FLAG = #{record.amtVerifyFlag,jdbcType=VARCHAR},
      PAYMENT_ITEM_CODE = #{record.paymentItemCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>