<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billing.invoice.dao.AccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.billing.invoice.po.AccountInfo">
    <result column="ACCOUNT_ID" jdbcType="DECIMAL" property="accountId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="TAX_INV_NAME" jdbcType="VARCHAR" property="taxInvName" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="ISDEFAULT" jdbcType="VARCHAR" property="isdefault" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACCOUNT_ID, CUST_NAME, TAX_INV_NAME, BANK_ACCOUNT, ISDEFAULT, CURRENCY
  </sql>
  <select id="selectByExample" parameterType="com.billing.invoice.po.AccountInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACCOUNT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.billing.invoice.po.AccountInfoExample">
    delete from ACCOUNT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.billing.invoice.po.AccountInfo">
    insert into ACCOUNT_INFO (ACCOUNT_ID, CUST_NAME, TAX_INV_NAME, 
      BANK_ACCOUNT, ISDEFAULT, CURRENCY
      )
    values (#{accountId,jdbcType=DECIMAL}, #{custName,jdbcType=VARCHAR}, #{taxInvName,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{isdefault,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.billing.invoice.po.AccountInfo">
    insert into ACCOUNT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="taxInvName != null">
        TAX_INV_NAME,
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT,
      </if>
      <if test="isdefault != null">
        ISDEFAULT,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="taxInvName != null">
        #{taxInvName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="isdefault != null">
        #{isdefault,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.billing.invoice.po.AccountInfoExample" resultType="java.lang.Long">
    select count(*) from ACCOUNT_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ACCOUNT_INFO
    <set>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=DECIMAL},
      </if>
      <if test="record.custName != null">
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.taxInvName != null">
        TAX_INV_NAME = #{record.taxInvName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null">
        BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.isdefault != null">
        ISDEFAULT = #{record.isdefault,jdbcType=VARCHAR},
      </if>
      <if test="record.currency != null">
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ACCOUNT_INFO
    set ACCOUNT_ID = #{record.accountId,jdbcType=DECIMAL},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      TAX_INV_NAME = #{record.taxInvName,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      ISDEFAULT = #{record.isdefault,jdbcType=VARCHAR},
      CURRENCY = #{record.currency,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>